body{
    background-image: url(background.jpg);
    height: auto;
    background-size: cover;   
    background-position: fixed;
}

.header{
    position: sticky;
    left: 0%;
    background-image:linear-gradient(to right,#42c5f5,#42e3f5,#42f5f2,rgba(3, 173, 252,0)); 
   
}
.title{
    position: fixed;
    left: 40px;
    top: 10px;
    font-style: italic;
    text-shadow: #42f5f2;
    font-size: 25px;
    font-weight: 200;
}

#thumb-3{
    height: 5cm;
    width: vh;
    border-radius: 10%;
    margin-left: 2%;
}
#thumb-1{
    height: 5cm;
    width: vh;
    border-radius: 10%;
    margin-left: 4cm;
}
#thumb-2{
    height: 5cm;
    width: vh;
    border-radius: 10%;
    margin-left: 2%;
}

.copyrights{
    height:fit-content;
    text-align: center;
}
#header-text{
    position: relative;
    top: 10px;
    right: 0%;
    left:85rem;
}
footer{
    position: fixed;
    bottom: 0%;
    left: 50%;
    color: white;
}
.footer-line{
    background-image:linear-gradient(to right,#42c5f5,#42e3f5,#42f5f2,rgba(3, 173, 252,0));
    height: 100px;
    width: 200vh;
    position: fixed;
    bottom: 0%;
    left: 0%;
}
.h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    align-items: center;
    font-size: 18px;
    font-family: serif;
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}
#thumb-1 {
    position: relative;
    display: inline-block;
  }
  
  .thumb-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
#thumb-1:hover .thumb-content{
    display:block;
}
.go-main{
    height: 2cm;
    position: relative;
    left: 500px;
    background-image: linear-gradient(to top,cyan,white);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
#pickdate{
    border-radius: 10%;
    border-color: cyan;
    padding-bottom: 10px;
    padding-top: 10px;
}
